/* Type Selector*/

p {
  font-size: 16px;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.725em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;
  color: #000000;
}