@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');


p {
  font-size: 16px;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.725em;
  line-height: 1.5em;
  font-family: "Elsie Swash Caps", cursive;
  color: #777;
  text-align: right;
}

.milk-text {
  font: bold 2.6em "Elsie Swash Caps", cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

#logo{
  background-color: aqua;
}

#logo h1{
  font-family: "Clicker"
}