@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');


p {
  font-size: 16px;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.725em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;
  color: #777;
  text-align: right;
}